<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Applications>
		<!-- Win -->
		<Application
			Name="XafSolutionWin"
			FileName="[WinAppBin]\XafSolution.Win.exe"
			AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
		<!-- Blazor -->
		<Application
			Name="XafSolutionBlazor"
			Url="http://localhost:4030"
			PhysicalPath="[BlazorAppPath]"
			AdapterFileName="[BlazorAdapterAssemblyPath]"
			Configuration="EasyTest"
			IgnoreCase="true"/>
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="XafSolutionEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterFileName" Value="[WinAppBin]\DevExpress.ExpressApp.EasyTest.WinAdapter.v21.2.4.dll" />
		<Alias Name="BlazorAdapterAssemblyPath" Value="[BlazorAppPath]\bin\EasyTest\net5.0\DevExpress.ExpressApp.EasyTest.BlazorAdapter.v21.2.4.dll" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\XafSolution.Win\Bin\EasyTest\net5.0-windows" />
		<Alias Name="BlazorAppPath" Value="[ConfigPath]\..\..\XafSolution.Blazor.Server" />
	</Aliases>
</Options>
